/wp-admin/
/wp-includes/
/wp-config.php

/node_modules/
vendor/
composer.lock

/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/plugins/
/wp-config.php

.env
/.idea/
/.vscode/
.DS_Store
Thumbs.db

*.log
debug.log
